<h1 class="text-center"><span class="orange-bold-text"><%= @route.name %></h1>


<div class="run-banner">
  <div class="run-half-banner run-half-banner-1 range-banner">
    <div class="add-range">
        <%= simple_form_for [@run, @run_session]  do |f| %>
          <%= f.button :submit, label: "submit", class: "btn btn-primary btn-lg" %>
          <%= f.input :start_point, label: 'Starting point', error: 'Username is mandatory, please specify one', :value => 0, class: "color" %>
        <% end %>
        <div class="length-session">
          <span class="length-session--question">How many km do you want to run?</span>
           <span id="run_session_length" class="color form-control string optional">
        </span>
        </div>


        <div class="ranges">
          <div class="min-range">0km </div>
          <div id="uislider"></div>
          <div class="number-range"><span class="number-range-word"><%= @route.total_length %></span>km </div>
        </div>

    </div>

  </div>

  <div class="run-half-banner run-half-banner-2">
    <div class="run-map-inside">

      <iframe frameBorder="0" scrolling="no" src="https://es.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=<%=@route.wikiloc%>&measures=off&title=off&near=off&images=off&maptype=M" width="600" height="600"></iframe><div style="background-color:#fff;color:#777;font-size:11px;line-height:16px;">Powered by <a style="color:#06d;font-size:11px;line-height:16px;" target="_blank" href="https://es.wikiloc.com">Wikiloc</a></div>
    </div>
  </div>
</div>






