<h1>Sessions#show</h1>
<p>Find me in app/views/sessions/show.html.erb</p>

<%= @run_session.attributes %><hr>


You and <%= @run.participants.count-1 %> other people will cross the finish line at <%= @run.route.end_point %> at <%= @run.end_time.utc.strftime("%H:%M") %>

Join the group at (start point:)<%= @run_session.start_point %>
