<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "running_icon.png", alt: "Running Icon" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Create a route", new_route_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Favorite runs", new_route_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Committed runs", runs_path, class: "navbar-wagon-item navbar-wagon-link"%>

    <% if not user_signed_in? %>
      <%= link_to "Sign-Up",  new_user_registration_path, class: "btn btn-primary btn-xs",id: "navbar-big-btn"%>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if user_signed_in? %>
          <%= cl_image_tag current_user.profile_picture.url(:bright_face), height: 35, width: 35, crop: :fill, class: "avatar dropdown-toggle", id:"navbar-wagon-menu", "data-toggle": "dropdown" %>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
        </ul>
      </div>
    </div>
  </div>

</div>
