<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container2">
  <div class="header">
  </div>
</div>

  <center>
    <hr>
    <h3 class="orange-bold-text">Upcoming Runs</h3>
    <hr>
  </center>


<div class="form-container">
  <form class="form-inline">
    <div class="row">

      <div class="col-sm-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by run name" name="query" style="background: #ffeed1">
        </div>
      </div>

      <div class="sliders">
        <div class="col col-sm-3">
            <div class="slidecontainer">
              <input type="range" min="1" max="30" value="<%= params[:lower_bound].present? ? params[:lower_bound] : 1 %>" class="slider" id="lower_range" name="lower_bound">
              <p>Minimum pace: <span id="slider1"></span>km/h</p>
            </div>

        </div>

        <div class="col col-sm-3">
            <div class="slidecontainer">
              <input type="range" min="1" max="30" value="<%= params[:upper_bound].present? ? params[:upper_bound] : 30 %>" class="slider" id="upper_range" name="upper_bound">
              <p>Maximum pace: <span id="slider2"></span>km/h</p>
            </div>
        </div>

      </div>

      <div class="col-sm-3">
        <input type="submit" class="btn btn-warning">
      </div>
    </div>
  </form>
</div>


<div class="container">
  <div class="row">
    <% @all_upcoming_runs.each do |run| %>
      <div class="col-sm-6 col-md-4">
        <a href='/runs/<%= run.id %>' class="run-details-link">
          <div class="card<% if current_user %><%= ' orange-border' if current_user.has_this_run_today?(run) %><% end %>">
          <img class="card-img-top" src='https://source.unsplash.com/1600x900/?marathon' width="250" height="180" alt="Card image cap">
          <h3><%= run.route.name %></h3>
          <p><%= run.speed %> km/h</p>
          <p><%= run.start_time.utc.strftime("%H:%M") %> to <%= run.end_time.utc.strftime("%H:%M") %></p>
          <p>
            <a href="#" class="fa fa-facebook"></a>
            <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:red"></i>
            <%= link_to run_path(run), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </p>
        </div></a>
      </div>
    <% end %>
  </div>
</div>

