<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
<header class="main-header">

  <center>
    <h1>Mob Runs</h1>
    <%= link_to "+ new route", new_route_url, method: :get %>
    <%= link_to "+ new run", routes_url, method: :get %>
  </center>
</div>
</header>


<div class="container">
  <div class="row">
    <% @runs.each do |run| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">

           <h2><%= run.route.name %></h2>
          <%= link_to "details", run_path(run) %>
            <p>
<a href="#" class="fa fa-facebook"></a>
                <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:red"></i>
              <%= link_to run_path(run), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
                 <% end %>
            </p>
      </div>
        </div>
    <% end %>
  </div>

<div>
  <center>
<%= link_to "all routes", routes_path %>
  </center>
</div>
