<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container2">
  <div class="header">
  </div>
</div>

  <center>
    <hr>
    <h1 class="orange-bold-text">Upcoming Runs</h4>
    <hr>
  </center>


<div class="col-container">
  <div class="row">
    <% @all_upcoming_runs.each do |run| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href='/runs/<%= run.id %>' class="run-details-link">
          <div class="card<% if current_user %><%= ' orange-border' if current_user.has_this_run_today?(run) %><% end %>">
          <img class="card-img-top" src='https://source.unsplash.com/1600x900/?marathon' width="250" height="180" alt="Card image cap">
          <h3><%= run.route.name %></h3>
          <p><%= run.speed %> km/h</p>
          <p><%= run.start_time.utc.strftime("%H:%M") %> to <%= run.end_time.utc.strftime("%H:%M") %></p>
          <p>
            <a href="#" class="fa fa-facebook"></a>
            <i class="fa fa-heart" aria-hidden="true" style="font-size:20px;color:red"></i>
            <%= link_to run_path(run), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </p>
        </div></a>
      </div>
    <% end %>
  </div>
</div>

