<div class="run-banner">
  <div class="run-half-banner run-half-banner-1">
    <div class="run-banner-text">
      <% unless @done%>
        <% if @run.end_time.future? %>
          <h1><span class="orange-bold-text"><%= pluralize(@session, 'person') %></span><br>will be lacing up for<br><span class="orange-bold-text"><%= @route.name %></span><br>[<%= @route.total_length %>km at <%= @run.speed %>km/h]</h1>
          <%= link_to "Count me in", new_run_run_session_path(@run), class: "btn btn-primary btn-lg" %>
        <% else %>

        <% end %>
      <%else%>
        <h1><span class="orange-bold-text">You <% if @session-1 > 0 %> and <%= pluralize(@session-1, 'other') %> <% end %> </span><br>will be lacing up for<br><span class="orange-bold-text"><%= @route.name %></span><br>[<%= @route.total_length %>km at <%= @run.speed %>km/h]</h1>
      <%end%>
    </div>
  </div>
  <div class="run-half-banner run-half-banner-2">
    <div class="run-map-inside" id = "run-map-inside">

      <iframe id="iframe" frameBorder="0" scrolling="no" src="https://es.wikiloc.com/wikiloc/spatialArtifacts.do?event=view&id=<%=@run.route.wikiloc%>&measures=on&title=off&near=off&images=off&maptype=M" width="600" height="600"></iframe><div style="background-color:#fff;color:#777;font-size:11px;line-height:16px;">Powered by <a style="color:#06d;font-size:11px;line-height:16px;" target="_blank" href="https://es.wikiloc.com">Wikiloc</a></div>
    </div>
  </div>
</div>

<div class="container run-container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 text-center run-text">
       <% if @run.end_time.past?  %>
        <h1><span class="orange-bold-text"><%= pluralize(@session, 'person') %></span> crossed the finish line<% if @session > 1 %> together<% end %>.</h1>
      <% elsif @run.start_time.past?  %>
        <h1><%= pluralize(@session, 'person') %> will be crossing the finish line at <span class="orange-bold-text"><%= @route.end_point %></span></h1>
      <% elsif @run.start_time.today? %>
        <h1>This run begins in<br><span class="orange-text" id="countdown"></span></h1>
      <% else %>
        <h1>This run begins on <span class="orange-bold-text"><%= @run.start_time.day %>/<%= @run.start_time.month %></span> </h1>
      <% end %>
    </div>
  </div>
  <hr>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (){
    function getAndDisplayCountdown() {
      var countdownString = countdown( new Date("<%= @run.start_time.to_s %>") ).toString();
      var element = document.getElementById("countdown");
      element.innerHTML = countdownString;

    }

    setInterval(getAndDisplayCountdown, 1000)
  })
</script>
