<div class="run-half-banner">
  <div class="run-banner-text">
  <h1>Let's run <%= @route.name %>!</h1><p>(<%= @route.total_length %>km max)</p>
  </div>
  <div id="map-container"></div>
</div>


<div class="container run-container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-3 text-center run-text">
      <h2><strong><%= @route.start_point %></strong></h2>
      <h2><strong><%= @run.start_time %></strong></h2>
    </div>
    <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-3 text-center run-text">
      <h2><strong><%= @route.end_point %></strong></h2>
      <h2><strong><%= @run.end_time %></strong></h2>
    </div>
  </div>

  <h2>This run was created by <%= @user.name %> [TODO: avatar here] </h2>



  <ul><h1>other run details:</h1>
    <li>run created at: <%= @run.created_at %></li>
    <li>run updated at: <%= @run.updated_at %></li>
  </ul>
  <ul><h1>other route details:</h1>
    <li>route id: <%= @run.route_id %> </li>
  </ul>
  <ul><h1>other user details:</h1>
    <li>user id: <%= @run.user_id %></li>
    <li>user avatar filepath: <%= @user.profile_picture %></li>
  </ul>
</div>

