<h1>Routes#index</h1>
<p>Find me in app/views/routes/index.html.erb</p>

<ul><h1>route details:</h1>
<% @routes.each do |route| %>
  <%= link_to route.name, route_path(route) %>
  <li>route id: <%= route.id %> </li>
  <li>route name: <%= route.name %></li>
  <li>route start point: <%= route.start_point %> </li>
  <li>route end point: <%= route.end_point %></li>
  <li>route total length: <%= route.total_length %></li>
  <% end %>
</ul>

<%= link_to "view all runs", runs_path %>
