<h1>New Routes</h1>
<p>Find me in app/views/routes/new.html.erb</p>



<div class="form-group col-xs-12 col-sm-offset-4 col-sm-4">
  <h1>Create a route</h1>
  <%= simple_form_for(@route) do |f| %>
    <%= f.input :start_point %>
    <%= f.input :end_point %>
    <%= f.input :total_length, label: "Total length (km)" %>
    <%= f.submit 'Add route', class: "btn btn-success" %>
  <% end %>
</div>
