<h1>Routes#show</h1>
<p>Find me in app/views/routes/show.html.erb</p>

<ul><h1>route details:</h1>
  <li>route id: <%= @route.id %> </li>
  <li>route name: <%= @route.name %></li>
  <li>route start point: <%= @route.start_point %> </li>
  <li>route end point: <%= @route.end_point %></li>
  <li>route total length: <%= @route.total_length %></li>
</ul>
<%= link_to "back to all routes", routes_path %>
