<center><h1>Route Details</h1></center>

<div class="container">
  <div class="row">
    <div class="card2">
        <ul><h1>Route Details:</h1>
          <%= link_to "run this route!", new_route_run_path(@route) %>

          <li>route id: <%= @route.id %> </li>
          <li>route name: <%= @route.name %></li>
          <li>route start point: <%= @route.start_point %> </li>
          <li>route end point: <%= @route.end_point %></li>
          <li>route total length: <%= @route.total_length %></li>
        </ul>
    </div>
        <%= link_to "back to all routes", routes_path %>
  </div>
</div>
